@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif; /* Updated font-family */
}

.card {
    flex: 0 0 calc(33.33% - 20px); /* Calculate the width of each card for a third of the container */
    min-height: 400px;
    overflow: hidden;
    margin-bottom: 20px; /* Adjusted margin */
    box-shadow: 1px 1px 8px grey; /* Moved box-shadow here to keep it consistent */
    max-width: 300px;
    margin-top: 45px;
}

#cardContainer {
    display: flex; /* Ensure the container is a flex container */
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px; /* Changed to gap for better compatibility */
    padding: 15px;
}

.card:hover {
    box-shadow: 1px 1px 10px grey; /* Adjusted hover effect */
}
